
html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

body{
  height:100vh;
  background-color:rgb(164, 205, 223) !important;
  font-family: verdana, Arial ,Genevea, Arial Black;
  font-size:25px;
}




.hidden {
  display:none;
}
.wrong {
    color: Red;
  }
  
  .correct {
    color: green;
  }
  .removed {
    color: black;
  }
